body {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;    
}

.h1 {
    margin: 60px 0;
    font-weight: 700;
    font-size: 48px;
    margin-left: 86px;
}
.line {
    border: 5px solid #33B8F1;;
    width:  350px;
}    

.header {
    min-height: 50px;
    max-height: 103px ;
    text-align: center;
    color: #0BBBD3;    
    font-size: 48px;  
    font-weight: 700;  
    padding: 20px 0px;
}

.header_spun {
    color: #000000;    
}

.banner {
    height: 852px;    
    background-image: url(../img/Успенський\ собор\ 1.jpg);
    background-repeat: no-repeat;
    background-size:cover;   
    padding-top: 239px;
    box-sizing: border-box;
    padding-left: 5%;
}

.content {
    background-image: url(../img/flag.png); 
    background-repeat: no-repeat;  
    height: 388px;
    font-size: 64px;
    color: white;
    width: 51%;
    padding-left: 83px;
    box-sizing: border-box;
    padding-top: 5%;
    }
    .main {
    padding: 0 80px;
    }
    .card {
    padding-left: 3%;
    display: inline-block;
    width: 30%;
   }        
    .card_margin {
        margin: 0 4,5%;
    }
    .h2 {
    font-weight: 700;
    font-size: 48px;
    margin-left: 465px;
    margin-top: 60px;
    }
    .lines {
    border: 5px solid #33B8F1;
    width: 361px;
    margin-left: 41px;
    margin-top: 16px;
    }
    .banner2 {
    background-image: url(../img/Дизайн\ без\ назви\ \(1\)\ 1.png);
    width: 973px;
    height: 877px;width: 982px;
    height: 873px;
    margin-left: 233px;
    margin-top: 42px;
   }
   .header2 {
    width: 700px;
    height: 100px;
    font-weight: 700;
    font-size: 48px;
    margin-left: 555px;
   }
   .sidebar {
    background-color: #0A2DA9;
    padding-top: 40px;
    height: 405px;
   }
   .sidebar_title {
    font-size: 64px;
    font-weight: 700;
    margin-left: 446px;
    margin-top: 49px;
    color: #0BBBD3;
   }
   .header_spun1 {
    color: #F8F5F5;
   }
  
   .contact_link {
    color: #353949;
    font-weight: 400;
    font-size: 32px;
    line-height: 24px;
    margin-left: 577px;
   }
   .contact_link {
    color: #353949;
    font-weight: 400;
    font-size: 32px;
    line-height: 24px;
    margin-left: 577px;
   }
    

      

    
