html,
body {
    height: 100%; 
	 font-family: 'Montserrat', sans-serif;
 
}

.main_page {
    background: linear-gradient(270deg, #A5DEFF 0%, #FCFEFF 100%);
    width: 1360px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
header {
    margin: 34px 0 58px 0;
    display: flex;
	 position: absolute;
	 top: 0;
	 left: 0;
}

.logotext {
    margin: 0 0 0 18px;
}

.wrapper {
    width: 1170px;
    margin: 0 auto; 
	 height: 100%;
	 position: relative;
}



.banderogus_container {
	background: #fff;
	padding: 60px 56px;
	align-self: center;
}

.banderogus_greetings {
	font-weight: 600;
   font-size: 16px;
   line-height: 24px;
   color: #1B1D1F;
	margin-bottom: 16px;
}

.banderogus_start_text {	
   font-weight: 600;
   font-size: 24px;
   line-height: 24px;
   color: #FF6B0A;
	margin-bottom: 48px;
}

.banderogus_title {
	font-weight: 600;
   font-size: 64px;
   line-height: 72px;
	
}
.banderogus_description {
	font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   color: #1B1D1F;
   margin: 24px 0 48px 0;
}
   
.banderogus_launch {
	background: #FF6B0A;
   border-radius: 8px;
	padding: 12px 24px;
	font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   color: #fff;
	cursor: pointer;
}

.main_page_row {
	display: flex;
	justify-content: space-between;	
}

.banderogus_image {
	align-self: flex-end;
}

.gus_facts {
	padding: 52px 0 72px 0;
	display: flex;
   flex-direction: column;
   align-items: center;
}

.gus_title {	
	font-weight: 600;
	font-size: 48px;
	line-height: 100px;	
	color: #1B1D1F;	
	margin: 16px 0;
}

.gus_descripton {	
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #1B1D1F;	
	width: 875px;
}

.gus_facts_container {
	width: 1170px;
	display: flex;
	justify-content: space-between;
}

.gus_facts_item {
	width: 33%;
}

.gus_facts_title {
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #1B1D1F;
margin: 12px 0 32px 0;
}

.gus_facts_descripton {
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #1B1D1F;
width: 280px;
}