    body {
    font-family: 'Montserrat', sans-serif;
    background: #E5E5E5;
    }

    .main {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;
    }

    .full_title_2 {
    margin-left: 277px;
    }

    .full_title_3 {
    margin-left: 508px;    
    }

    .full_title_4 {
    margin-left: 130px;
    }

    .full_title_5 {
    margin-left:5px;
    }

    .full_title_7 {
    
    }
    
    .header_1 {
    margin-top: 14px;
    margin-left: 15px;
    margin-right: 14px;
    }

    .header_2 {
    margin-top: 14px;
    margin-left: 15px;
    margin-right: 14px;
    }

    .header_3 {
    margin-top: 14px;
    margin-left: 136px;
    margin-right: 14px;      
    }

    .header_4 {
    margin-top: 14px;
    margin-left: 138px;
    margin-right: 14px;        
    }

    .header_5 {
    margin-top: 27px;
    margin-left: 14px;
    margin-right: 14px;
    }

    .header_6 {
    margin-top: 27px;
    margin-left: 14px;
    margin-right: 14px;
    }

    .header_7 {
    margin-left: 410px;
    }

    .note_2 {
    margin-left: 92px; 
    }

    p {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: -0.025em;
        color: #333333;
    }

    .table {
        margin-left: 250px;
    }
    
    
    
